<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.epam.dmitriy_korobeinikov.task06_networking_3rd_party_libraries">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.RepoListActivity"
            android:label="@string/activity_main_label">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RepoDetailActivity"
            android:label="Repository detail"/>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/activity_settings_label"/>

        <service
            android:name=".robospice.DBCacheSpiceService"
            android:exported="false"/>

        <service android:name=".service.RepositoryCheckService"/>

        <provider
            android:name=".provider.RepositoriesContentProvider"
            android:authorities="com.johnkuper.epam.githubcontentprovider"
            android:exported="false"/>

        <receiver
            android:name=".receiver.RepositoryBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.johnkuper.epam.action.RepositoryCheckService"/>

            </intent-filter>
        </receiver>
    </application>
</manifest>
